@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.login-body, .login-html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Modern, elegant font */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

.login-container {
    display: flex;
    animation: fadeIn 1s ease-out;
    justify-content: center;
    align-items: center;
    height: 80vh;  
    width: 100%;
    max-width: 1000px; /* Set a max width to center it nicely */
    margin: auto; 
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: white;
    transition: transform 0.3s ease;
}

.login-left-panel {
    flex: 1;
    background: linear-gradient(135deg, #b4b9be, #616668);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
}

.login-left-panel img.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.login-left-panel img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login-right-panel {
    flex: 1;
    background: linear-gradient(135deg, #b4b9be, #616668);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 300px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
}

.login-right-panel h2 {
    margin-bottom: 30px;
    color: #333;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.login-form-group {
    width: 100%;
    margin-bottom: 20px;
}

.login-form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: 500;
}

.login-form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: box-shadow 0.3s, border-color 0.3s;
}

.login-form-group input:focus {
    border-color: #717375; 
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2); 
}



.btn:hover {
    background: linear-gradient(to right, #0056b3, #008ccc);
    transform: scale(1.05); /* Slightly enlarges the button on hover */
}

.login-error-message {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}

.login-signup-link {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    text-align: center;
}

.login-signup-link a {
    color: #121213;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.login-signup-link a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        height: auto;
    }

    .login-left-panel, .login-right-panel {
        width: 100%;
        border-radius: 15px;
    }

    .login-left-panel img {
        display: none; /* Hide large image on smaller screens */
    }

    .login-right-panel {
        padding: 30px;
    }
}
